.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navcontainer {
  background-color: rgb(7, 7, 7);
  color: white;
  width: 100vw;
  text-align: center;
}
.col2 {
  background-color: aliceblue;
  color: black;
  width: 400px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  overflow: scroll;
}

.col1 {
  background-color: aliceblue;
  width: 100vw;
  text-align: center;
  margin-right: 5px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow: scroll;
}

.card-containers {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  margin: 8px;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.cart-img {
  width: 150px;
  height: 220px;
  object-fit: contain;
  overflow: hidden;
  margin-top: 8px;
}
